/* Style for the footer */
.footer {
    background-color: #1B6B93; /* Set the background color to #1B6B93 */
    color: #fff; /* Text color for the footer */
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center; /* Center-align the content */
  }
  
  /* Style the text inside the footer */
  .footer p {
    margin: 0; /* Remove default margin for the paragraph */
  }
  