.form-group {
    margin-bottom: 20px;
    /* Add margin to create space between form groups */
}

/* Style textboxes with sharp edges */
.form-control {
    border-radius: 0;
    border-color: #3b3b3b33
    /* Set border-radius to 0 for sharp edges */
}

